//Animazione Form
.formmex {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffe066;
  color: #333;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  text-align: center;
  z-index: 1000;
  animation: bounceIn 0.4s ease-out, fadeOut 0.5s ease-in 2.5s forwards;
}

@keyframes bounceIn {
  0% {
    transform: translate(-50%, -40%) scale(0.9);
    opacity: 0;
  }
  60% {
    transform: translate(-50%, -52%) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(-50%, -60%) scale(0.9);
  }
}

//Card



.domanda-container{
  background-color: black;
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Goldman', sans-serif;
  text-align: center;
  padding: 80px 20px; /* spazio sopra e sotto */
  min-height: calc(100dvh - 100px);
}
