@import url(../../../styles.scss);

.start-subtitle {
  font-family: 'Goldman', sans-serif;
  font-size: 1.5rem;
  color: var(--primary-color);
  text-align: center;
  margin: 40px auto;
  animation: floatText 2.5s ease-in-out infinite;
}

@keyframes floatText {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
